<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <app-contact-info></app-contact-info>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <app-quick-links></app-quick-links>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <app-other-useful-links></app-other-useful-links>
            </div>
        </div>
    </div>
</div>
<div id="copyright" class="text-center font-small py-4">
    &copy; 2022 Bojan Maksimović. All rights reserved.
</div>