<div class="header-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <app-custom-order></app-custom-order>
            </div>
            <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                <form class="full-width-form" [formGroup]="filterFormService.form">
                    <mat-form-field appearance="outline">
                        <mat-label>Search by name</mat-label>
                        <input matInput placeholder="Pizza name" formControlName="keyword" (keyup)="prepareForUpdate()">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sort by</mat-label>
                        <mat-select value="nameAsc" formControlName="sortOrder" (selectionChange)="loadProducts()">
                          <mat-option value="nameAsc">Name ascending</mat-option>
                          <mat-option value="nameDesc">Name descending</mat-option>
                          <mat-option value="priceAsc">Price ascending</mat-option>
                          <mat-option value="priceDesc">Price descending</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div id="product-categories">
                        <span class="font-medium">Filter by category:</span>
                        <br/>
                        <ng-container *ngFor="let c of productCategories">
                            <mat-checkbox formArrayName="categories" class="category-chb font-small" (change)="onCategoryChange($event)" [value]="$any(c.id)">{{ c.name }}</mat-checkbox><br/>
                        </ng-container>
                      </div>
                </form>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <ng-container *ngIf="products.length; else noProducts">
                        <ng-container *ngFor="let p of products">
                            <div class="col-12 col-md-6 mb-5">
                                <app-product [product]="p"></app-product>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #noProducts>
                        <div class="col-12 font-medium">
                            No products match your search criteria.
                        </div>
                    </ng-template>
                </div>
                <app-paginator [totalElements]="totalCount" [elementsPerPage]="productsPerPage" (pageChange)="loadProducts($event)"></app-paginator>
            </div>
        </div>
    </div>
</div>