$color-primary: #fbaf32;
$color-secondary: #719a0a;
$color-black: #454545;
$color-white: #ffffff;
$color-grey: #f5f5f5;

$color-primary-dark: #b17b24;
$color-grey-dark: #777777;

$color-black-t: rgba(0, 0, 0, .7);
$color-white-t: rgba(255, 255, 255, .8);

$admin-color-primary: #007bff;
$admin-color-secondary: #343a40;

$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;

$content-height: 90vh;