@import "../../css/variable";

#page-spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white-t;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear, visibility 0s .2s;
}

#page-spinner-image {
    max-width: 100px;
}

.show-spinner {
    visibility: visible !important;
    opacity: 1 !important;
    transition: none !important;
}