@import "../../css/variable";

#page-spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white-t;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#page-spinner-image {
    max-width: 100px;
}

.show-spinner {
    display: flex !important;
}