<div class="header-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 order-2 order-lg-1 table-wrapper">
                <ng-container *ngIf="cartItems && cartItems.length; else emptyCart">
                  <ng-container *ngFor="let item of cartItems">
                    <app-cart-item (onChange)="loadData()" [item]="item" class="d-block mb-4"></app-cart-item>
                  </ng-container>
                </ng-container>
                <ng-template #emptyCart>
                    <p class="font-large">Your cart is empty.</p>
                </ng-template>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 mb-4 mb-lg-0">
              <app-order-form [hasItems]="cartItems && cartItems.length > 0" [totalPrice]="totalPrice" (onOrderPlaced)="loadData()"></app-order-form>
            </div>
        </div>
    </div>
</div>