<div class="admin-form-wrapper alt-theme">
    <h4 class="text-center"t>{{ isEdit ? "Edit" : "Add"}} Ingredients</h4>

    <ng-container *ngIf="isFormReady">
        <form class="form-horizontal full-width-form" [formGroup]="formService.form">
            <fieldset>
                <div class="control-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                    </mat-form-field>
                </div>

                <div class="control-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input type="number" matInput formControlName="price" />
                    </mat-form-field>
                </div>

                <div class="control-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Is Active</mat-label>
                        <mat-select panelClass="alt-theme" [value]="true" formControlName="isActive">
                          <mat-option [value]="true">Yes</mat-option>
                          <mat-option [value]="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div *ngIf="errorMessage != ''" class="errors p-3 text-danger text-center" [innerHTML]="errorMessage"></div>

                <div class="text-center">
                    <button mat-raised-button color="primary" (click)="save()" [disabled]="formService.form.invalid">Save</button>
                </div>

            </fieldset>
        </form>
    </ng-container>
</div>