<div class="header-padding d-flex align-items-center">
    <div class="container">
        <h2 class="text-center font-xl">Contact us</h2>
        <br/>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="font-small">If you wish to reach out to us, you can do so via social media, the information listed below, or by filling out the contact form.</p>
                <br/>
                <ul class="font-small">
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;+012 345 67890
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;info@pizzavilla.com
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                
            </div>
        </div>
    </div>
</div>