table {
    width: 100%;
}

.additional-buttons {
    display: flex;
    column-gap: 10px;
}

table {
    min-width: 800px;
}

tr.mat-row {
    &:hover {
        background: whitesmoke;
    }
}

td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.image {
    width: 50px;
}