<p class="text-danger font-small text-center" *ngIf="errorMessage !== ''" [innerHTML]="errorMessage"></p>

<ng-container *ngIf="showDateInputs">
  <mat-form-field [formControl]="dateFrom" ngDefaultControl appearance="outline" class="me-3" (change)="prepareForUpdate()">
    <mat-label>Date From</mat-label>
    <input type="date" matInput placeholder="Date From">
  </mat-form-field>
  <mat-form-field [formControl]="dateTo" ngDefaultControl appearance="outline" class="me-3" (change)="prepareForUpdate()">
    <mat-label>Date To</mat-label>
    <input type="date" matInput placeholder="Date To">
  </mat-form-field>
</ng-container>

<ng-container *ngIf="showKeywordInput">
  <mat-form-field [formControl]="keyword" ngDefaultControl appearance="outline" (keyup)="prepareForUpdate()">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</ng-container>

<div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSource">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell font-small" [attr.colspan]="displayedColumns.length">
          No results.
        </td>
      </tr>

      <ng-container *ngFor="let column of allColumns">
        <ng-container [matColumnDef]="column.index">
          <th mat-header-cell *matHeaderCellDef> {{ column.label }} </th>
  
          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="columnTypeEnum.WithButton">
                <button mat-raised-button color="accent" [disabled]="column.disabled ? column.disabled(element) : false" (click)="clickOnFieldWithButton(element, column)">
                  {{ column.label }}
                </button>
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.Delete">
                <button mat-raised-button color="warn" [disabled]="column.disabled ? column.disabled(element) : false" (click)="delete(element.id)">
                  {{ column.label }}
                </button>
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.LocalImage">
                <ng-container *ngIf="element[column.index]; else noLocalImage">
                  <div class="image">
                    <img [src]="element[column.index]" alt="Element image"/>
                  </div>
                </ng-container>
                <ng-template #noLocalImage>
                  N/A
                </ng-template>
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.ServerImage">
                <ng-container *ngIf="element[column.index]; else noServerImage">
                  <div class="image">
                    <img class="img-fluid rounded" [src]="serverPath + 'images/' + element[column.index]" alt="Element image"/>
                  </div>
                </ng-container>
                <ng-template #noServerImage>
                  N/A
                </ng-template>
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.Date">
                {{(element[column.index] | date : 'short') ?? 'N/A'}}
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.Currency">
                {{(element[column.index] | currency) ?? 'N/A'}}
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.User">
                {{element[column.index].username ?? 'N/A'}}
              </ng-container>
              
              <ng-container *ngSwitchCase="columnTypeEnum.UserRole">
                <ng-container *ngIf="adminService.isAdmin(element[column.index]); else regularUser">
                  Admin
                </ng-container>
                <ng-template #regularUser>
                  Regular
                </ng-template>
              </ng-container>

              <ng-container *ngSwitchCase="columnTypeEnum.Boolean">
                <ng-container *ngIf="element[column.index] !== null; else booleanIsNull">
                  {{ element[column.index] ? 'Yes' : 'No' }}
                </ng-container>
                <ng-template #booleanIsNull>
                  N/A
                </ng-template>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{element[column.index] ?? 'N/A'}}
              </ng-container>
            </ng-container>
          </td>
  
        </ng-container>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <ng-container *ngIf="tableService.hasPaginator">
      <ng-container *ngIf="!dataService.isPagedResponse; else serverSidePagination">
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-container>
      <ng-template #serverSidePagination>
        <mat-paginator *ngIf="pagedResponse" [length]="pagedResponse.totalCount" [pageIndex]="pagedResponse.page - 1" [pageSize]="pagedResponse.perPage" [pageSizeOptions]="[15, 50]" showFirstLastButtons
          aria-label="Select page of periodic elements" (page)="onPageChange($event)">
        </mat-paginator>
      </ng-template>
    </ng-container>
  
    <hr />
  
  
  
  
  </div>
  
  <div class="additional-buttons mt-3">
    <button *ngIf="showAddButton" mat-raised-button color="primary" (click)="add()">Add</button>
  </div>