<mat-drawer-container class="sidenav-container alt-theme" autosize>
    <mat-drawer #drawer class="sidenav bg-secondary text-white mat-elevation-z8" mode="side">
      <p class="font-medium text-center">
        PizzaVilla <span class="fw-bold">Admin Panel</span>
      </p>
      <hr/>
      <button routerLink="/home" layout="row" class="w-100 font-small text-secondary mb-2" mat-raised-button>
        <i class="fa-solid fa-arrow-left me-2"></i>Client Side
      </button>
      <button (click)="authService.logout()" class="w-100 font-small text-secondary" mat-raised-button>
        <i class="fa fa-sign-out me-2" aria-hidden="true"></i>Logout
      </button>
    </mat-drawer>
    <mat-toolbar>
      <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>
              menu
          </mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>