@import "../../../../shared/css/variable";

#navbar {
    background-color: $color-white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: all .2s;
    z-index: 20;
}

.nav-link {
    &.active {
        color: $color-primary !important;
    }
    &:hover {
        color: $color-primary !important;
    }
}

.transparent-navbar {
    @media screen and (min-width: ($screen-md + 1)) {
        background-color: rgba(0, 0, 0, 0) !important;
        box-shadow: none !important;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        .nav-link {
            color: $color-white;
        }
        #hamburger-menu {
            color: $color-white;
        }
    }
}