<ng-container *ngIf="serviceData.length; else emptySlider">
    <mdb-carousel id="slider" animation="fade">
        <ng-container *ngFor="let i of serviceData">
            <mdb-carousel-item>
                <div appSlide [image]="i.path" class="slide"></div>
            </mdb-carousel-item>
        </ng-container>
        <div id="slider-cover">
            <div id="slider-text" class="text-center">
                <h2 class="font-xxl"><span class="text-primary">Pizza</span> Done Right</h2>
                <p class="font-medium">All natural, fresh ingredients, housemade by pro chefs, no preservatives.</p>
                <br/>
                <button type="button" class="btn btn-primary font-xs" routerLink="/menu">View Menu</button>
            </div>
        </div>
    </mdb-carousel>
</ng-container>
<ng-template #emptySlider>
    <div class="min-vh-100 empty-slider d-flex align-items-center justify-content-center">
        <img src="./assets/images/loader.gif" alt="Loading..."/>
    </div>
</ng-template>