<div class="container py-5">
    <div class="row align-items-center py-5">
        <div class="col-12 col-md-5 mb-5 mb-md-0">
            <div id="about-us-image" class="mx-auto">
                <img src="../../../../../assets/images/about.webp" alt="One of our chefs" class="img-fluid rounded" />
            </div>
        </div>
        <div class="col-12 col-md-7 text-center text-md-start">
            <h3 class="font-medium text-secondary">About Us</h3>
            <h4 class="font-xl">Cooking Since 1990</h4>
            <p class="font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.</p>
            <p class="font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.</p>
            <button mat-raised-button color="primary" class="text-uppercase font-small" routerLink="/menu">View our menu</button>
        </div>
    </div>
</div>