<div class="container py-5">
    <div class="row align-items-center py-5">
        <div class="col-12 col-md-5 mb-5 mb-md-0">
            <div id="about-us-image" class="mx-auto">
                <img src="../../../../../assets/images/about.webp" alt="One of our chefs" class="img-fluid rounded" />
            </div>
        </div>
        <div class="col-12 col-md-7 text-center text-md-start">
            <h3 class="font-medium text-secondary">About Us</h3>
            <h4 class="font-xl">Cooking Since 1990</h4>
            <p class="font-small">PizzaVilla started with the idea of giving people the experience of great food, made from simple ingredients. From all of the housemade sauces and dressings to the daily made dough and mozzarella. Our belief has always been to give our customers the best possible cuisine.</p>
            <p class="font-small">We strive every day to be the best we can be and are always improving. That's why we believe at PizzaVilla, the "Little things are the difference between good and Great"!</p>
            <button mat-raised-button color="primary" class="text-uppercase font-small" routerLink="/menu">View our menu</button>
        </div>
    </div>
</div>