@import "../../../../shared/css/variable";

#scroll-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2.7rem;
    height: 2.7rem;
    background-color: $color-primary;
    transition: background-color .2s, opacity .1s;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
    i {
        color: $color-white;
    }
    &:hover {
        background-color: $color-primary-dark;
    }
}

.is-visible {
    opacity: 1 !important;
}