@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

@import "./app/shared/css/variable";

@font-face {
    src: url("./assets/fonts/Nunito.ttf");
    font-family: "Nunito";
}

* {
    font-family: "Nunito";
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

.font-xs {
    font-size: 12px;
    @media screen and (max-width: $screen-sm) {
        font-size: 10px;
    }
}

.font-small {
    font-size: 16px;
    @media screen and (max-width: $screen-sm) {
        font-size: 14px;
    }
}

.font-medium {
    font-size: 19px;
    @media screen and (max-width: $screen-sm) {
        font-size: 17px;
    }
}

.font-xm {
    font-size: 25px;
    @media screen and (max-width: $screen-sm) {
        font-size: 22px;
    }
}

.font-large {
    font-size: 30px;
    @media screen and (max-width: $screen-sm) {
        font-size: 25px;
    }
}

.font-xl {
    font-size: 40px;
    @media screen and (max-width: $screen-sm) {
        font-size: 30px;
    }
}

.font-xxl {
    font-size: 50px;
    @media screen and (max-width: $screen-sm) {
        font-size: 40px;
    }
}

.font-xxxl {
    font-size: 70px;
    @media screen and (max-width: $screen-sm) {
        font-size: 60px;
    }
}

.text-primary {
    color: $color-primary !important;
}

.bg-primary {
    background-color: $color-primary !important;
}

.text-secondary {
    color: $color-secondary !important;
}

.bg-secondary {
    background-color: $color-secondary !important;
}

.text-black {
    color: $color-black !important;
}

.bg-black {
    background-color: $color-black !important;
}

.text-white {
    color: $color-white !important;
}

.bg-white {
    background-color: $color-white !important;
}
.text-grey {
    color: $color-grey !important ;
}

.bg-grey {
    background-color: $color-grey !important;
}

body {
    background-color: $color-white;
    color: $color-black;
}

#content {
    min-height: $content-height;
}

.btn-primary {
    background-color: $color-primary;
    &:hover, &:active, &:focus {
        background-color: $color-primary-dark;
    }
}

.header-padding {
    padding-top: 7.5rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
