@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

@import "./app/shared/css/variable";
@import "./app/shared/css/theme";

@font-face {
    src: url("./assets/fonts/Nunito.ttf");
    font-family: "Nunito";
}

* {
    font-family: "Nunito";
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

.font-xs {
    font-size: 12px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 10px !important;
    }
}

.font-small {
    font-size: 16px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 14px !important;
    }
}

.font-medium {
    font-size: 19px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 17px !important;
    }
}

.font-xm {
    font-size: 25px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 22px !important;
    }
}

.font-large {
    font-size: 30px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 25px !important;
    }
}

.font-xl {
    font-size: 40px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 30px !important;
    }
}

.font-xxl {
    font-size: 50px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 40px !important;
    }
}

.font-xxxl {
    font-size: 70px !important;
    @media screen and (max-width: $screen-sm) {
        font-size: 60px !important;
    }
}

// colors
.text-primary {
    color: $color-primary !important;
}

.bg-primary {
    background-color: $color-primary !important;
}

.text-secondary {
    color: $color-secondary !important;
}

.bg-secondary {
    background-color: $color-secondary !important;
}

.text-black {
    color: $color-black !important;
}

.bg-black {
    background-color: $color-black !important;
}

.text-white {
    color: $color-white !important;
}

.bg-white {
    background-color: $color-white !important;
}
.text-grey {
    color: $color-grey !important ;
}

.bg-grey {
    background-color: $color-grey !important;
}

// admin colors
.alt-theme {
    .text-primary {
        color: $admin-color-primary !important;
    }
    
    .bg-primary {
        background-color: $admin-color-primary !important;
    }
    
    .text-secondary {
        color: $admin-color-secondary !important;
    }
    
    .bg-secondary {
        background-color: $admin-color-secondary !important;
    }
}

body {
    background-color: $color-white;
    color: $color-black;
}

#content {
    min-height: $content-height;
}

.btn-primary {
    color: $color-white;
    background-color: $color-primary !important;
    &:hover, &:active, &:focus {
        &:not([disabled="true"]) {
            color: $color-white;
            background-color: $color-primary-dark !important;
        }
    }
    &[disabled="true"] {
        color: $color-white !important;
        opacity: .7;
    }
}

.header-padding {
    padding-top: 7.5rem;
}

.full-width-form {
    input, textarea, mat-form-field {
        width: 100%;
    }
}

.mat-raised-button {
    color: $color-white !important;
}

.cdk-overlay-container {
    z-index: 50 !important;
}

.table-wrapper {
    overflow-x: auto;
}

// header
#navbar {
    .cart-icon {
        color: $color-black;
    }
}

.transparent-navbar {
    @media screen and (min-width: ($screen-md + 1)) {
        .cart-icon {
            color: $color-white !important;
        }
    }
}

// mat dialog
// mat-dialog-container {
//     min-width: 40vw !important;
// }

// mat buttons
.center-align-btn {
    .mat-button-wrapper {
        display: flex !important;
        align-items: center !important;
        justify-content: center;
    }
}

.center-align-btn-vertical {
    .mat-button-wrapper {
        display: flex !important;
        align-items: center !important;
    }
}

// admin theme
.alt-theme {
    .mat-selected {
        .mat-option-text {
            color: $admin-color-primary;
        }
    }
}